<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Select Patient self monitoring schedule</h1></div>
  </div>

  <div class="row">
      <div class="col-sm-12 col-sm-offset-3" style="padding-top:30px">
        <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary btntype" rel="by-time-slot">By Time Slot</button>
        <button type="button" class="btn btn-primary btntype" rel="by-frequency">By Frequency </button>
      </div>
      </div>
      <div class="clearfix"></div>

      <div class="col-sm-10">
      <form class="form-horizontal" id="patient-schedule" role="form" action="/sch/show" method="post">
      <div class="col-sm-10" id="by-time-slot">
        <hr>
        <div class="row">
          <div class="col-sm-10">
            <div class="row">

              <div class="col-md-3">
                <div class="well">
                  
                  <label class="checkbox-inline"><input type="checkbox" name="before_breakfast" id="before_breakfast" class="cbk" />
                  <a class="text-danger" href="javascript:void(0);">Before Breakfast </a></label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well">

                 <label class="checkbox-inline"><input type="checkbox" name="before_lunch" id="before_lunch" class="cbk"/><a class="text-danger" href="javascript:void(0);">Before lunch </a></label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well">
                <label class="checkbox-inline"><input type="checkbox" name="before_dinner" id="before_dinner" class="cbk" /><a class="text-danger" href="javascript:void(0);">Before dinner </a></label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well">
                 <label class="checkbox-inline"><input type="checkbox" name="before_suffer" id="before_suffer" class="cbk" /><a class="text-danger" href="javascript:void(0);">Before suffer </a></label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well">
                <label class="checkbox-inline"><input type="checkbox" name="after_breakfast" id="after_breakfast" class="cbk" /><a class="text-danger" href="javascript:void(0);">After suffer </a></label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well">
                <label class="checkbox-inline"><input type="checkbox" name="after_lunch" id="after_lunch" class="cbk" /><a class="text-danger" href="javascript:void(0);">After lunch </a></label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well">
                  <label class="checkbox-inline"><input type="checkbox" name="after_dinner" id="after_dinner"/ class="cbk"><a class="text-danger" href="javascript:void(0);" >After dinner </a></label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="well">
                  <label class="checkbox-inline"><input type="checkbox" name="after_suffer" id="after_suffer" class="cbk"/><a class="text-danger" href="javascript:void(0);" >After suffer </a></label>
                </div>
              </div>

            </div><!--/row-->    
          </div><!--/col-12-->
        </div><!--/row-->
    </div>

    <hr>
      <div class="col-sm-6" id="by-frequenc">
        <div class="col-xs-3 col-sm-offset-3">
          <div class="form-group">
              <input type="number" name="no_of_days" id="no_of_days" placeholder="Enter Number" />
          </div>
       </div>

        <div class="col-xs-3 col-sm-offset-3">
          <div class="form-group">
            <select class="selectpicker form-control" name="day_iteration" id="">
              <option>day(s)</option>
              <option>week(s)</option>
              <option>month(s)</option>
            </select>
          </div>
        </div>

      </div>

      </div>

      <div class="col-sm-12 col-sm-offset-4">
        <button type="submit" class="btn btn-success">Save</button>
      </div> 
      <input type="text" name="by_time_slot" id="by_time_slot" value="" />
      <input type="text" name="by_time_frequncy" id="by_time_frequncy" value="" />
      </form>
      </div>
  </div>
</div>



<!-- set up the modal to start hidden and fade in and out -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        Please select schedule first.
      </div>
    </div>
  </div>
</div>

<!-- set up the modal to start hidden and fade in and out -->
<div id="daysModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        Please select Frequncy.
      </div>
    </div>
  </div>
</div>